#left{
    background-color: aqua;
    margin: 2px;
    flex-grow: 1;
    
}
#right{
    background-color: blue;
    margin: 2px;
    flex-grow: 4;
    
}
#center{
    background-color: crimson;
    margin: 2px;
    display: flex;
    flex-grow: 5;
    
#menu li{
    display: inline;
    padding: 10px;
    background-color: cyan;
}
#container{
    border: 2px solid green;
    display: flex;
    padding: 2px;
    overflow: hidden;
}

.row{
    background-color: gold;
}