#left{
    background-color: aqua;
    padding: 20px;
    width: 30%;
    float: left;
    
}
#right{
    background-color: blue;
    padding: 20px;
    width: 30%;
    float: right;
    margin-left: 10px;
    position: relative;
    right: 150px;
    z-index: 0;
}
#center{
    background-color: crimson;
    padding: 20px;
    width: 30%;
    float: right;
    z-index: 1;
}
#menu li{
    display: inline;
    padding: 10px;
    background-color: cyan;
}
#container{
    border: 2px solid green;
    padding: 20px;
    overflow: hidden;
}